.body{
    display: grid;
    justify-items: center;
}
.pagination {
    text-align: center;
}
.my-pagination ::ng-deep .ngx-pagination .current {
    background: #56D9D9;
    border-radius: 8px;
    font-size: 20px;
  }

.my-pagination ::ng-deep  .pagination-next a::after, .my-pagination ::ng-deep .pagination-next.disabled::after{
    content: '>';
    font-size: 24px;
}

.my-pagination ::ng-deep .pagination-previous a::before, .my-pagination ::ng-deep .pagination-previous.disabled::before {
    content: '<';
    font-size: 24px;
}

.my-pagination ::ng-deep  .pagination-next a:hover, .my-pagination ::ng-deep .pagination-next.disabled:hover{
    background-color: #FFFFFF;
}
.my-pagination ::ng-deep .pagination-previous a:hover, .my-pagination ::ng-deep .pagination-previous.disabled:hover {
    content: '<';
    font-size: 24px;
}