<div class="body">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <!-- <i class="fa-solid fa-user"></i> -->
            <i class="fas fa-user"></i>
          </div>
      
          <!-- Login Form -->
          <form id="myForm">
            <input type="text" id="firstName" name="firstName" placeholder="First Name">
            <input type="text" id="lastName" name="lastName" placeholder="Last Name">
            <input type="text" id="age" name="age" placeholder="Age">
            <input type="text" id="password" name="password" placeholder="Password">
            <input type="button" value="Sign Up" id="submit">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="login">Already have an account?, Login Now!</a>
          </div>
        </div>
      </div>    
</div>

