<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
      <span class="bg-secondary pr-3">Recent Products</span>
    </h2>
    <div class="row px-xl-5">
      <ng-container *ngFor="let fp of recentProducts">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <div class="product-item bg-light mb-4">
            <div class="product-img position-relative overflow-hidden">
              <img style="height: 200px;" class="img-fluid w-100" src="{{fp['thumbnail']}}" alt="" />
              <div class="product-action">
                <a
                  class="btn btn-outline-dark btn-square"
                  (click)="addProductToCart(fp)"
                  ><i class="fa fa-shopping-cart"></i
                ></a>
                <a class="btn btn-outline-dark btn-square" href="#"
                  ><i class="far fa-heart"></i
                ></a>
                <a class="btn btn-outline-dark btn-square" (click)="redirectToProductPage(fp['id'])"
                  ><i class="fa fa-search"></i
                ></a>
              </div>
            </div>
            <div class="text-center py-4">
              <a class="h6 text-decoration-none text-truncate" href=""
                >{{ fp['title'] }}</a
              >
              <div
                class="d-flex align-items-center justify-content-center mt-2"
              >
                <h5>{{ fp['price'] - (fp['price'] * fp['discountPercentage']/100) | currency }}</h5>
                <h6 class="text-muted ml-2"><del>{{ fp['price'] | currency}}</del></h6>
              </div>
              <!-- Stars Start -->
              <app-product-stars [id]="fp['id']"></app-product-stars>
              <!-- Stars End -->
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

