
.container { 
    padding: 16px;
    .search{
        position: relative;
        #search-bar {
            height: 32px;
            width: 320px;
            border: 0.21px solid #424242;
            border-radius: 8px;
            text-indent: 18px;
            ::placeholder {
                color: #667085;
                font-size: 14px;
              }
          }
        i{
            color: #FFD333;
            position: absolute;
            left: 10px;
            bottom: 6.5px;
        }
    }
   
} 
  
