<div class="body">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <!-- <i class="fa-solid fa-user"></i> -->
            <i class="fas fa-user"></i>
          </div>
      
          <!-- Login Form -->
          <form id="myForm">
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="text" id="password" name="password" placeholder="Password">
            <input type="button" value="Log In" id="submit">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="register">Don't have an account?, Register Now!</a>
          </div>
        </div>
      </div>    
</div>
